* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero-section {
    position: relative;
    height: 55vh; 
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('../img/bts_img.jpeg');
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px;
}

.menu-hamburguer {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.menu-hamburguer span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #b388eb; 
    border-radius: 2px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px; 
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #b388eb;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
}

.dot.active {
    opacity: 1;
}


.bottom-section {
    height: 45vh; 
    background-color: #a782b7; 
    position: relative;
}
