<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal do sistema</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

    <header class="hero-section">
        <div class="menu-hamburguer">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="carousel-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </header>

    <main class="bottom-section">
        <div class="blue-dot"></div>

        <div class="botoes-container">
            <a th:href="@{/noticias}" class="botao">📰 Acesse notícias sobre o grupo</a>
            <a th:href="@{/membros}" class="botao">🎤 Conheça cada membro</a>
            <a th:href="@{/tour}" class="botao">🌍 Acompanhe a tour</a>
            <a href="#" class="botao">💜 Conheça novas Armys!</a>
        </div>
    </main>

</body>
</html>