<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias BTS</title>
    <link rel="stylesheet" th:href="@{/css/noticias.css}">
</head>
<body>

    <header>
        <a th:href="@{/home}">←</a>
        <h1>Notícias 📰</h1>
    </header>

    <main>
        <div th:each="noticia : ${noticias}">
            <a th:href="@{'/noticia/' + ${noticia.id}}" class="card-link">
                <section class="membro">
                    <img th:src="@{'/img/' + ${noticia.imagem}}" th:alt="${noticia.titulo}">
                    <div class="membro-texto">
                        <h2 th:text="${noticia.titulo}"></h2>
                        <p th:text="${noticia.resumo}"></p>
                    </div>
                </section>
            </a>
        </div>
    </main>

</body>
</html>